body {
  background-color: rgba(120, 55, 18, 0.966);
}

button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

button:focus {
  background-color: transparent;
  outline: beige;
}
